.bc-text-light {
    font-family: 'Intro', sans-serif;

    font-size: 3rem;
    font-weight: 600;
    padding: 0 2rem;
    color: white;
    margin: 0;
}

.bc-landing__actions {
    display: flex;
    justify-content: flex-end;
}

.bc-landing {
    padding: 1rem 2rem;

}