.dashboard {
    background-color: #131313;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding: 24px;

}

.bc-text-light {
    font-size: 1rem;
    font-weight: 600;
    color: white;
}