.bc-profile {
    display: flex;
    padding: 16px;
    color: white;
    height: 85vh;
    background-color: #131313;

}

.bc-profile-left-side {
    padding: 16px;
    margin: 1rem;
}

.bc-profile-right-side {
    padding: 16px;
    margin: 1rem 0 0 0;
}

.bb-container-description {
    font-size: 2rem;

}

.bc-profile-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 350px;

    padding: 24px;
    margin: auto;
    border-radius: 30px;
    background-color: #1D1D1D;
    color: white;
}

.bc-text-first-level {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 0;
    text-align: center;

}

.bc-text-second-level {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}